POSTGRES_DB=taskdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

DB_HOST=db
DB_PORT=5432
DB_NAME=taskdb
DB_USER=postgres
DB_PASSWORD=change_me

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change_me
PGADMIN_PORT=5050
